// Variables a usar
:root {
  --primary-color: #324151;
  --background: #EDF0F4;
}

// Estilos de la sección "Call to Action"
.call-to-action {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding-block: 40px;
}

.call-to-action h1 {
  color: var(--primary-color);
}