/* variables */
:root {
  --primary-color: #324151;
  --background: #EDF0F4;  
  --inner-background: #C9D3DD;
  --icon-color: #A2B0C2;
  --border-color: #CED7E0;
}

/* estilos globales */

.text-system-color {
  color: var(--primary-color);
}

.select-wrapper {
  position: relative;
  height: 100%;
}

select {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  padding-block: 10px;
  padding-inline: 15px;
  color: var(--primary-color);
  -webkit-appearance: none; /* For Chrome, Safari, and Opera */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* For other browsers */
  transition: border 0.2s ease-in-out;
  width: 100%;
}

.select-wrapper::after {
  content: '\25BC'; /* down arrow */
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid var(--border-color);
  height: 47px; 
  width: 30px; 
  padding-top: 12px;
  padding-left: 6px;
  pointer-events: none;
  transition: background 0.2s ease-in-out;
}

select:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

option:checked {
  background-color: var(--primary-color);
  color: white;
}

/* decoraciones de fondo */
.background-circle {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: var(--inner-background);
  left: 55%; /* Slightly to the right of the center */
  transform: translate(-50%, -50%);
  top: 130px; /* Center vertically */
  clip-path: circle(50% at 50% 50%);
  content: " ";
  z-index: -1;
}

.background-mountain {
  position: absolute;
  width: 270px; /* Ajusta según sea necesario */
  height: 220px; /* Ajusta según sea necesario */
  background-color: var(--inner-background);
  left: 50%; /* Ajusta según la posición deseada */
  transform: translate(-50%, -50%);
  top: 260px; /* Ajusta según la posición deseada */
  content: " ";
  z-index: -1;
  clip-path: polygon(1% 71%, 32% 1%, 50% 35%, 65% 23%, 91% 70%, 45% 80%);
  border-radius: 50px;
}


/* estilos para sección Call to Action */
.call-to-action {
  z-index: 1;
  background-color: var(--background);
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding-block: 40px;
  position: relative;
}

.call-to-action h1 {
  color: var(--primary-color);
}

/* elementos especificos */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 45px;
  height: 45px;
  border-radius: 100%
}

.icon-container > i {
  color: red;
  font-weight: 900;
  color: var(--icon-color);
}

.summary-container {
  padding-block: 10px;
  padding-inline: 50px;
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-radius: 4px;
}

.percentage-parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.percentage-parent-container span {
  font-size: 18px;
  font-weight: 500;
}

#percentage-container {
  background-color: var(--primary-color);
  color: white;
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 4px;
  font-weight: 600;
}

.summary-container-title {
  max-width: 84px;
  min-width: 84px;
}

#income-container {
  border: 2px solid transparent;
  background-color: var(--primary-color);
  color: white;
}

#revenue-container {
  border: 2px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

#income-container span, #revenue-container span {
  font-weight: 600;
}

/* estilos para formulario */
.form-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}